pre {padding: 0;}
body {padding-top: 60px;}
.container {max-width: 700px;}
.listing-item a{padding:.2em 1em;}
.listing-item time{color:#999999;}
.listing-seperator{font-weight:bold;}
.meta{text-align:right;font-size:12px;}
