pre {padding: 0;}
body {padding-top: 60px;}
.container {max-width: 700px;}
.listing-seperator {font-weight: bold;margin-top:15px; margin-bottom:3px; font-size: 130%;}
.listing-item {margin: 0px 0px 5px; font-size: 110%;}
.meta{text-align:right;font-size:12px;}
pre {overflow-x: auto;} 
pre code {word-wrap: normal;white-space: pre;} 