---
type: general
hlstyle: github
---

<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ page.title }}</title>
		<meta name="description" content="{{ page.description }}">
		<meta name="author" content="{{ site.data.meta.author }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		{% if page.type == 'general' %}
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/main.css">
		<script src="/js/vendor/modernizr-2.6.2.min.js"></script>

		<link rel="stylesheet" href="/css/style.css">

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js" data-headjs-load="/js/headinit.js"></script>
		{% endif %}


		{% if page.type == 'impress' %}
		<script src="/lib/js/head.min.js"></script>
		<link href="/css/impress-demo.css" rel="stylesheet" />
		{% endif %}
		

		{% if page.type == 'reveal' %}
		<link rel="stylesheet" href="/css/reveal/reveal.min.css">
		<link rel="stylesheet" href="/css/reveal/theme/default.css" id="theme">
		<script src="/lib/js/head.min.js"></script>
		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = '/css/reveal/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>
		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
		{% endif %}


		{% if page.mathjax %}
			{% include mathjax.html %}
		{% endif %}

	</head>
	<body class="impress-not-supported">

		{{ content }}

		{% include b_body_scripts.html %}
	</body>
</html>
