---
hlstyledf: github
---

<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ page.title }}</title>
		<meta name="description" content="{{ page.description }}">
		<meta name="author" content="{{ site.data.meta.author }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script src="http://cdn.bootcss.com/headjs/1.0.3/head.min.js"></script>

	</head>
	<body class="impress-not-supported">

		{{ content }}

		{% include body_scripts.html %}
	</body>
</html>
